
:root {
}

:host {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: flex-end;
  outline: none;
  border: none;
}

input {
  font-size: 20px;
}

label {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  font-size: 20px;
}

@media not screen {
  div {
    display: none;
  }
  
  /*
  input {
    display: none;
  }

  div:has(input[type=radio]:checked) {
    display: inline-block;
  }
  */
}